{% extends "base.html" %} {% block content %}
<h2>{{ page_title}}</h2>
<p>
  The formation of the group grew out of a meeting Gandalf had with Thorin in
  Bree which kindled Thorin's interest in recapturing his long lost family
  inheritance. (Thorin's grandfather had been the king of the Lonely Mountain
  when Smaug came and took it.) Remembering that he had once known an
  adventurous Hobbit on his travels in the Shire, Gandalf decided to add Bilbo
  to their company because he knew that stealth and cunning were preferable to
  force. Gandalf also believed that someone like Bilbo could keep the sometimes
  prideful and stubborn Dwarves from rash action. The superstitious Dwarves also
  considered thirteen to be an unlucky number, and as Gandalf had planned to
  leave on other business, welcomed a fourteenth to fill into their party.
</p>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Thorin Oakenshield</h3>
    <p>
      In the year TA 2746, Thorin II was born to Dwarven prince Thráin II in the
      mountain city of The Lonely Mountain. Early in his youth, he and the other
      Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in
      TA 2770. While in exile, he quickly grew to become a capable warrior. This
      was demonstrated when he participated in the Battle of Azanulbizar in TA
      2799. He marched with one of the Dwarven armies beneath the East-gate of
      Moria. At some point in the fighting, his shield broke, and using an oaken
      tree branch found on the floor as a shield, he gained the epithet
      "Oakenshield," which would remain with him even in death.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg"
      alt="Thorin Oakenshield" />
  </div>
</div>

<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg"
      alt="Fili and Kili" />
  </div>
  <div class="col-md-7">
    <h3>Fili and Kili</h3>
    <p>
      Fíli and Kíli were nephews of Thorin, who was the elder brother of their
      mother Dís. They were also nephews of Frerin, grandsons of Thráin II, and
      great-grandsons of Thrór. Fíli's most distinguishing feature was his long
      nose, the longest of any of the Dwarves in Thorin's company.
    </p>
  </div>
</div>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Óin</h3>
    <p>
      Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle
      of Gimli. Óin's uncle was Fundin, the father of Balin and Dwalin. Óin
      fought in the Battle of Azanulbizar along with Thorin Oakenshield, and in
      TA 2941 joined Thorin's company on the quest to reclaim the Lonely
      Mountain, wearing a brown hood.[2] Óin was one of the Dwarves who bet that
      Bilbo would come along with them to reclaim the Lonely Mountain. Óin and
      his brother Glóin were usually in charge of preparing the fire for the
      Company, as they were the most skilled of the group. He fought in and
      survived the Battle of Five Armies, and later settled in the Lonely
      Mountain with King Dáin II Ironfoot, along with many other Dwarves of the
      company of Thorin.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/7/7d/Hobbit-poster-oin.jpg"
      alt="Óin" />
  </div>
</div>

<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/a/af/GloinPoster.jpeg"
      alt="Gloin" />
  </div>
  <div class="col-md-7">
    <h3>Gloin</h3>
    <p>
      In TA 2941, Glóin and his brother Óin, along with his cousins Dwalin and
      Balin, were among the Dwarves accompanying Thorin and Company during their
      quest to the Lonely Mountain to recapture it from the dragon Smaug. He was
      noted for his skills with a tinderbox, and, along with his brother Óin,
      was usually the one told to get a fire started whenever the Dwarves made
      camp. Glóin also fought in the Battle of Five Armies.[1] After the battle,
      he made his home in the Lonely Mountain.
    </p>
  </div>
</div>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Balin</h3>
    <p>
      Balin was part of the company assembled by Thorin Oakenshield in TA 2941
      that journeyed to the Lonely Mountain with Bilbo Baggins and Gandalf to
      defeat Smaug, and to retake the kingdom of Erebor. He was the second Dwarf
      to arrive at Bilbo's home, where, like his brother Dwalin, he played a
      viol as big as himself.[2] Following the meeting's conclusion and the
      company's initial departure to the Green Dragon Inn, Balin spotted Bilbo
      hurrying to reach them before they set out.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/e/e1/Balin_AUJ.jpg"
      alt="Balin" />
  </div>
</div>

<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/e/e7/The-Hobbit-Dwalin-In-Pantry.jpg"
      alt="Dwalin" />
  </div>
  <div class="col-md-7">
    <h3>Dwalin</h3>
    <p>
      Dwalin was the first Dwarf to arrive, alone, at Bag End when the
      unexpected party planned by Thorin and Gandalf began at Bilbo Baggins'
      hobbit hole. Wearing a dark-green hood and a golden belt, he walked into
      Bilbo's home as if expected, which greatly surprised Bilbo. Soon Balin
      arrived, and he and Dwalin sat talking while Bilbo kept answering the door
      for the arrival of more and more Dwarves. Later, when Bilbo griped aloud
      in his kitchen about the lack of help in setting out refreshments, Dwalin
      and Balin were the first (followed by Fíli and Kíli) to lend a hand. Later
      still, when the Dwarves filled Bag End with music, Dwalin played on a viol
      as big as himself.[1] Dwalin lent a green hood and cloak to Bilbo when
      they set out on their journey.
    </p>
  </div>
</div>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Ori</h3>
    <p>
      Ori would then settle in Erebor, under Dáin II Ironfoot, Thorin's
      successor as King under the Mountain, with his surviving kin for a time,
      enjoying the wealth and prosperity of their newly captured home. In the
      years between the Quest for Erebor and the eventual expedition into Moria,
      Ori became versed in Elvish script, and continued to progress as a scribe.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/c/ce/OriPoster.jpeg"
      alt="Ori" />
  </div>
</div>

<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/2/2e/07_dori-copy.jpeg"
      alt="Dori" />
  </div>
  <div class="col-md-7">
    <h3>Dori</h3>
    <p>
      It fell to Dori to carry Bilbo Baggins in the tunnels of the Misty
      Mountains during the escape from the Goblins, but Dori dropped Bilbo, and
      the other Dwarves and Gandalf blamed him for "losing their burglar."
      Later, during their escape from the Wargs and Orcs, Dori helped Bilbo
      climb a tree to get away from the wargs. Bilbo shortly thereafter saved
      Dori by grabbing his legs as they were rescued by the Great Eagles and
      taken to the Great Shelf from the Misty Mountains. When Gandalf tells
      their tale to the skin-changer Beorn and brings forward the company, Dori
      came first, along with Thorin.
    </p>
  </div>
</div>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Nori</h3>
    <p>
      In TA 2941, Nori, along with Dori and Ori, became part of Thorin and
      Company, befriending Bilbo Baggins and traveling with him in search of
      Smaug's treasure in the Lonely Mountain. After their experience in
      Goblin-town when the company was pursued by Wargs and Orcs and forced to
      climb up into some trees, Nori was the first realize that Bilbo had been
      left on the ground and pointed him out to his brother Dori who rescued
      Bilbo.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/6/68/Noriposter.jpg"
      alt="Nori" />
  </div>
</div>

<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/7/73/Bifur_2.jpg"
      alt="Bifur" />
  </div>
  <div class="col-md-7">
    <h3>Bifur</h3>
    <p>
      Answering Thorin Oakenshield's Quest of Erebor, he went to the meeting at
      Bag End with his cousins Bofur and Bombur, where he played the clarinet.
      On the quest, he was nearly cooked on a spit by Trolls and nearly killed
      by Goblins, Wargs, Stone giants, Great Spiders, and the dragon Smaug
      himself. A valiant and brave warrior, Bifur never gave up, and fought in
      the Battle of Five Armies with all his strength, killing numerous enemies.
      In the fallout of the great battle, Dáin II gave him his share of the
      treasure, and he retired to live at the Lonely Mountain.[1]
    </p>
  </div>
</div>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Bofur</h3>
    <p>
      While answering Thorin Oakenshield's quest to Erebor, Bofur went to the
      meeting at Bag End with his brother Bombur and cousin Bifur. He
      accompanied Thorin, Gandalf, Bilbo Baggins, and rest of Thorin's Company
      across Wilderland to the Lonely Mountain in order to reclaim the Dwarves'
      treasure from the dragon Smaug. Following the dragon's demise, Bofur
      participated in and survived the Battle of Five Armies, receiving his
      fourteenth share of the treasure as agreed upon.[1]
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/b/b3/Bofur.jpeg"
      alt="Bofur" />
  </div>
</div>

<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/5/5f/Bombur-stephenhunter-p.jpg"
      alt="Bombur" />
  </div>
  <div class="col-md-7">
    <h3>Bombur</h3>
    <p>
      Bombur was the twelfth Dwarf arriving at Bag End to attend the meeting
      arranged by Gandalf, where the quest to reclaim Erebor began. Because he
      was commonly considered to count for two Dwarves due to his girth, he was
      the last to arrive at Beorn's house and the last to cross the Enchanted
      stream in Mirkwood. Bombur tumbled with Bifur and Bofur onto Thorin when
      they first entered Bag End. He chose to stay and guard the camp and
      supplies while the others moved up the Lonely Mountain, because he trusted
      neither mountain paths nor ropes to stay intact under his weight. However,
      he was later forced to use the ropes to escape the rampaging dragon Smaug
      before he could be slain.
    </p>
  </div>
</div>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Gandalf</h3>
    <p>
      Over the years, Gandalf became concerned about the weak state of the
      North. Smaug the dragon had destroyed both the Kingdom under the Mountain
      and the town of Dale, and the wizard feared that Sauron might use the
      desolation around Erebor to regain the northern passes in the mountains
      and the old lands of Angmar. Gandalf knew that exiled Dwarf King of
      Durin's Folk, Thorin II, planned to battle against Smaug, but he knew that
      it would not be enough. In TA 2941,[5] while staying the night in Bree,
      Gandalf happened across the Dwarf King.[8] Thorin initiated conversation;
      he had been having a strange feeling urging him to seek Gandalf. The same
      was intrigued, for he had thought to seek Thorin as well. They found they
      were taking the same road for a while (Thorin passing through the Shire on
      his way to the Ered Luin), and they agreed to travel together. Thorin
      wanted advice, and Gandalf in turn wanted to discuss the dragon Smaug with
      Thorin.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/8/8d/Gandalf-2.jpg"
      alt="Gandalf" />
  </div>
</div>
{% endblock %}
